<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="yes" name="apple-touch-fullscreen" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="dns-prefetch" href="//sf.panli.com" />
  <link href="http://sf.panli.com/Ued/pc/common/images/favicon.ico?v=2016.07" type="image/ico" rel="shortcut icon" />
  <title>H5 - Panli代购</title>
  <meta name="keywords" content="Panli代购,代购,海外代购,华人代购,代购中国,淘宝代购,留学生代购">
  <meta name="description" content="">
  <link rel="stylesheet" href="./build/css/528.css?666">
  <script src="./build/css/js/app.js?2222"></script>
</head>

<body>
  <div class="app bgcolor m-auto">
    <section class="banner">&nbsp;
    </section>
    <section class="detail detail-1">
      <img src="./build/css/img/detail-1.png" alt="">
      <a href="javascript:void(0);" onclick="LayerSpe('#Lay-main-1')" class="">&nbsp;</a>
    </section>
    <section class="detail detail-2">
      <img src="./build/css/img/detail-2.png" alt="">
      <a href="javascript:void(0);" onclick="LayerSpe('#Lay-main-2')" class="">&nbsp;</a>
    </section>
    <section class="nav-tap" id="nav-tap">
      <div class="scroller">
        <ul class="">
          <li class="cur">
            <a href="javascript:void(0)">
              <i class="icon"></i>
              <span class="">月饼DIY</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="icon"></i>
              <span class="">家乡美食</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="icon"></i>
              <span class="">中秋好礼</span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="floor" id="floor_1">
      <ul class="">
        <li class="li_1">
          <a href="https://shop70847045.m.taobao.com/" class="" target="_black" title="劣狐狐烘焙">
            <img src="./build/css/img/shop/1-1.png" alt="劣狐狐烘焙">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_2">
          <a href="https://shop118172816.m.taobao.com/" class="" target="_black" title="纷美烘焙包装">
            <img src="./build/css/img/shop/1-2.png" alt="纷美烘焙包装">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_3">
          <a href="https://shop113238343.m.taobao.com/" class="" target="_black" title="大连小树烘焙用品店">
            <img src="./build/css/img/shop/1-3.png" alt="大连小树烘焙用品店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_4">
          <a href="https://shop104412450.m.taobao.com/" class="" target="_black" title="巧巧木木质模具">
            <img src="./build/css/img/shop/1-4.png" alt="巧巧木木质模具">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_5">
          <a href="https://shop58815542.m.taobao.com/" class="" target="_black" title="汕头拉金五金工艺厂">
            <img src="./build/css/img/shop/1-5.png" alt="汕头拉金五金工艺厂">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_6">
          <a href="https://tangduo.m.tmall.com/" class="" target="_black" title="唐朵居家日用旗舰店">
            <img src="./build/css/img/shop/1-6.png" alt="唐朵居家日用旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_7">
          <a href="https://meinaijiaju.m.tmall.com/" class="" target="_black" title="美奈家居专营店">
            <img src="./build/css/img/shop/1-7.png" alt="美奈家居专营店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_8">
          <a href="https://shop59457796.m.taobao.com/" class="" target="_black" title="小北温州烘焙diy ">
            <img src="./build/css/img/shop/1-8.png" alt="小北温州烘焙diy ">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_9">
          <a href="https://shop67574048.m.taobao.com/" class="" target="_black" title="省钱厨房厂家直销平台">
            <img src="./build/css/img/shop/1-9.png" alt="省钱厨房厂家直销平台">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_10">
          <a href="https://shop125446021.m.taobao.com/" class="" target="_black" title="象本烘焙品牌店">
            <img src="./build/css/img/shop/1-10.png" alt="象本烘焙品牌店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_11">
          <a href="https://shop101674498.m.taobao.com/" class="" target="_black" title="姚奶爸papayao烘焙工">
            <img src="./build/css/img/shop/1-11.png" alt="姚奶爸papayao烘焙工">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_12">
          <a href="https://shop61444647.m.taobao.com/" class="" target="_black" title="兔子de烘焙杂货铺">
            <img src="./build/css/img/shop/1-12.png" alt="兔子de烘焙杂货铺">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
      </ul>
    </section>
    <section class="floor hide" id="floor_2">
      <ul class="">
        <li class="li_1">
          <a href="https://shunhua.m.tmall.com/" class="" target="_black" title="舜华鸭业官方旗舰店">
            <img src="./build/css/img/shop/2-1.png" alt="舜华鸭业官方旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_2">
          <a href="https://songguifang.m.tmall.com/" class="" target="_black" title="松桂坊旗舰店">
            <img src="./build/css/img/shop/2-2.png" alt="松桂坊旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_3">
          <a href="https://qweiyizu.m.tmall.com/" class="" target="_black" title="q味一族食品旗舰店">
            <img src="./build/css/img/shop/2-3.png" alt="q味一族食品旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_4">
          <a href="https://weilongshipin.m.tmall.com/" class="" target="_black" title="卫龙食品旗舰店">
            <img src="./build/css/img/shop/2-4.png" alt="卫龙食品旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_5">
          <a href="https://liangpinpuzi.m.tmall.com/" class="" target="_black" title="良品铺子旗舰店">
            <img src="./build/css/img/shop/2-5.png" alt="良品铺子旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_6">
          <a href="https://laiyifen.m.tmall.com/" class="" target="_black" title="来伊份官方旗舰店">
            <img src="./build/css/img/shop/2-6.png" alt="来伊份官方旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_7">
          <a href="https://zhouheiya.m.tmall.com/" class="" target="_black" title="周黑鸭食品旗舰店">
            <img src="./build/css/img/shop/2-7.png" alt="周黑鸭食品旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_8">
          <a href="https://jinmofang.m.tmall.com/" class="" target="_black" title="金磨坊食品旗舰店">
            <img src="./build/css/img/shop/2-8.png" alt="金磨坊食品旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_9">
          <a href="https://xiangwei.m.tmall.com/" class="" target="_black" title="香唯食品专营店">
            <img src="./build/css/img/shop/2-9.png" alt="香唯食品专营店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_10">
          <a href="https://hzxxtc.m.taobao.com/" class="" target="_black" title="西溪特产杨先生的店">
            <img src="./build/css/img/shop/2-10.png" alt="西溪特产杨先生的店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_11">
          <a href="https://baicaowei.m.tmall.com/" class="" target="_black" title="百草味旗舰店">
            <img src="./build/css/img/shop/2-11.png" alt="百草味旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_12">
          <a href="https://ttwu.m.taobao.com/" class="" target="_black" title="糖糖屋 零食物语 进口 ">
            <img src="./build/css/img/shop/2-12.png" alt="糖糖屋 零食物语 进口 ">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
      </ul>
    </section>
    <section class="floor hide" id="floor_3">
      <div class="qiu-desic">
        选送中秋礼品至国内亲友的用户，<br>下单时请备注：<span>此商品将邮寄至中国大陆。</span>
      </div>
      <ul class="">
        <li class="li_1">
          <a href="https://bjtrtjk.m.tmall.com/" class="" target="_black" title="北京同仁堂健康旗舰店">
            <img src="./build/css/img/shop/3-1.png" alt="北京同仁堂健康旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_2">
          <a href="https://meixin.m.tmall.com/" class="" target="_black" title="美心官方旗舰店">
            <img src="./build/css/img/shop/3-2.png" alt="美心官方旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_3">
          <a href="https://haagendazs.m.tmall.com/" class="" target="_black" title="哈根达斯旗舰店">
            <img src="./build/css/img/shop/3-3.png" alt="哈根达斯旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_4">
          <a href="https://bear.m.tmall.com/" class="" target="_black" title="小熊电器官方旗舰店">
            <img src="./build/css/img/shop/3-4.png" alt="小熊电器官方旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_5">
          <a href="https://taichang.m.tmall.com/" class="" target="_black" title="泰昌官方旗舰店">
            <img src="./build/css/img/shop/3-5.png" alt="泰昌官方旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_6">
          <a href="https://kangshitan.m.tmall.com/" class="" target="_black" title="康仕坦旗舰店">
            <img src="./build/css/img/shop/3-6.png" alt="康仕坦旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_7">
          <a href="https://sanzhisongshu.m.tmall.com/" class="" target="_black" title="三只松鼠旗舰店">
            <img src="./build/css/img/shop/3-7.png" alt="三只松鼠旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_8">
          <a href="https://yibeixiang.m.tmall.com/" class="" target="_black" title="一杯香旗舰店">
            <img src="./build/css/img/shop/3-8.png" alt="一杯香旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_9">
          <a href="https://wangtongsp.m.tmall.com/" class="" target="_black" title="旺通食品专营店">
            <img src="./build/css/img/shop/3-9.png" alt="旺通食品专营店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_10">
          <a href="https://xiaomi.m.tmall.com/" class="" target="_black" title="小米官方旗舰店">
            <img src="./build/css/img/shop/3-10.png" alt="小米官方旗舰店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_11">
          <a href="https://xljhjl.m.tmall.com/" class="" target="_black" title="旭隆久合酒类专营店">
            <img src="./build/css/img/shop/3-11.png" alt="旭隆久合酒类专营店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
        <li class="li_12">
          <a href="https://ydjysp.m.tmall.com/" class="" target="_black" title="一鼎建业食品专营店">
            <img src="./build/css/img/shop/3-12.png" alt="一鼎建业食品专营店">
            <span class="icon">&nbsp;</span>
          </a>
        </li>
      </ul>
    </section>

    <div class="Lay-wrap">
      <div id="Lay-main-1">
        <div class="Lay-main-1">
          <img src="./build/css/img/layer-1.png" alt="">
          <a href="javascript:void(0);" class="l-close"></a>
        </div>
      </div>
      <div id="Lay-main-2">
        <div class="Lay-main-2">
          <img src="./build/css/img/layer-2.png" alt="">
          <a href="javascript:void(0);" class="l-close"></a>
        </div>
      </div>
    </div>
  </div>
  <script>
    FastClick.attach(document.body);

    PD('#nav-tap').on('click', 'li', function() {
      var t = PD(this);
      var index = t.index()
      PD("#nav-tap li").removeClass('cur')
      t.addClass('cur')
      navClickIndex(index + 1)
    })
  </script>
</body>

</html>